@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-size: 1rem;
  background: linear-gradient(180deg, rgb(240, 255, 249) 0%, rgb(216, 233, 230) 100%);
}

.container {
  padding: 1rem;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.section .animate {
  opacity: 0;
  filter: blur(0.3rem);
  transition: 1s;
}
.section.show-animate .animate {
  opacity: 1;
  filter: blur(0);
}
.section .animate {
  filter: blur(0.3rem);
  transition: 1s;
}
.section h2 {
  position: relative;
  font-size: 6rem;
}
.section p {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
}

.hero-section {
  display: flex;
  min-height: 100vh;
  scroll-snap-align: start;
}
.hero-section .hero-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  border-right: 0.1rem solid #d8e9e6;
  padding: 0rem 1rem 1rem 1rem;
}
.hero-section .hero-aside .logo {
  display: flex;
  align-items: center;
  min-height: 6rem;
  padding: 1rem 0rem 1rem 0rem;
}
.hero-section .hero-aside .logo #acronym {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  font-size: 2.2rem;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: #1a1c1e;
}
.hero-section .hero-aside .logo #acronym span {
  align-self: flex-end;
  font-size: 1.6rem;
  padding-bottom: 0.1rem;
  color: #0e7777;
}
.hero-section .hero-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.8rem;
}
.hero-section .hero-content .navbar {
  display: flex;
  justify-content: space-between;
  min-height: 6rem;
  padding: 1rem 8rem 0rem 6rem;
}
.hero-section .hero-content .navbar .nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.hero-section .hero-content .navbar .nav-list a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #1a1c1e;
}
.hero-section .hero-content .navbar .contact-me {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.hero-section .hero-content .navbar .contact-me a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #1a1c1e;
}
.hero-section .hero-content .navbar .contact-me a:last-child {
  border: 0.1rem solid #1a1c1e;
  border-radius: 0.6rem;
  padding: 0.6rem;
}
.hero-section .hero-content .hero-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.05rem;
  line-height: 1.6;
  padding: 0rem 4rem 0rem 4rem;
}
.hero-section .hero-content .hero-description .introduction {
  max-width: 37rem;
}
.hero-section .hero-content .hero-description .introduction h1 {
  font-size: 1.44rem;
}
.hero-section .hero-content .hero-description .introduction h2:nth-child(2) {
  font-size: 2.488rem;
}
.hero-section .hero-content .hero-description .introduction h2:nth-child(3) {
  font-size: 1.44rem;
}
.hero-section .hero-content .hero-description .introduction p {
  text-align: justify;
  font-size: 1rem;
  max-width: 30rem;
  padding-top: 0.8rem;
}
.hero-section .hero-content .hero-description .visuals-container {
  width: 22rem;
  border-radius: 13rem;
  opacity: 0.95;
  overflow: hidden;
}
.hero-section .hero-content .hero-description .visuals-container img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.95;
}
.hero-section .hero-content .hero-images-container {
  display: flex;
  justify-content: center;
  margin-right: 8rem;
}
.hero-section .hero-content .hero-images-container .images-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  position: relative;
  max-width: 42rem;
}
.hero-section .hero-content .hero-images-container .images-bg #keyboard {
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .hero-content .hero-images-container .images-bg #leftHand {
  position: absolute;
  top: 17%;
  left: -4%;
  width: 20rem;
  height: 21.85rem;
}
.hero-section .hero-content .hero-images-container .images-bg #rightHand {
  position: absolute;
  top: 17%;
  left: 57%;
  width: 20rem;
  height: 21.85rem;
}
.hero-section .hero-content .hero-images-container .images-bg #findOut {
  border: 0.1rem solid #1a1c1e;
  border-radius: 0.6rem;
  text-decoration: none;
  padding: 0.8rem;
  color: #1a1c1e;
}

.about-section.show-animate .animate {
  transform: translateX(0%);
}
.about-section .animate {
  transform: translateX(-100%);
  min-width: 44rem;
}

.projects-section.show-animate .animate {
  transform: translateX(0%);
}
.projects-section .animate {
  transform: translateX(100%);
  min-width: 44rem;
}

.help-section.show-animate .animate .showRight-animate {
  width: 0;
}
.help-section .animate .showRight-animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(240, 255, 249) 0%, rgb(216, 233, 230) 100%);
  transition: 1s;
  transition-delay: calc(0.2s * var(--i));
}

.contact-us-section.show-animate .animate {
  transform: scale(1);
}
.contact-us-section .animate {
  transform: scale(0.7);
  min-width: 44rem;
}

.image-test.show-animate .images .animate {
  transform: translateX(0%);
}
.image-test .images {
  display: flex;
  gap: 2rem;
}
.image-test .images .animate {
  transform: translateX(-100%);
  transition-delay: calc(0.2s * var(--i));
  max-width: 20rem;
}/*# sourceMappingURL=style.css.map */