@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-size: 1rem;
  background-color: #f0fff9;
}

.container {
  padding: 1rem;
}

.frame {
  border: 0.1rem solid #1a1c1e;
  border-radius: 0.6rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
}

.hero-section {
  display: flex;
  min-height: 100vh;
}
.hero-section .hero-aside {
  display: flex;
  flex-direction: column;
  flex-basis: 8%;
  border-right: 0.1rem solid #d8e9e6;
  padding: 0rem 1rem 1rem 1rem;
}
.hero-section .hero-aside .logo {
  display: flex;
  align-items: center;
  min-height: 8rem;
  padding: 1rem 0rem 1rem 0rem;
}
.hero-section .hero-aside .logo #acronym {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2.2rem;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #1a1c1e;
}
.hero-section .hero-aside .logo #acronym span {
  align-self: flex-end;
  font-size: 1.6rem;
  padding-bottom: 0.1rem;
}
.hero-section .hero-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4rem;
}
.hero-section .hero-content .navbar {
  display: flex;
  justify-content: space-between;
  min-height: 8rem;
  padding: 2rem 4rem;
}
.hero-section .hero-content .navbar .nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.hero-section .hero-content .navbar .nav-list a {
  text-decoration: none;
}
.hero-section .hero-content .navbar .contact-me {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.hero-section .hero-content .navbar .contact-me a {
  text-decoration: none;
}
.hero-section .hero-content .hero-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.05rem;
  line-height: 1.6;
}
.hero-section .hero-content .hero-description .introduction {
  max-width: 37rem;
}
.hero-section .hero-content .hero-description .introduction h1 {
  font-size: 1.44rem;
}
.hero-section .hero-content .hero-description .introduction h2:nth-child(2) {
  font-size: 2.986rem;
}
.hero-section .hero-content .hero-description .introduction h2:nth-child(3) {
  font-size: 1.44rem;
}
.hero-section .hero-content .hero-description .introduction p {
  text-align: justify;
  font-size: 1rem;
}
.hero-section .hero-content .hero-images-container {
  display: flex;
  justify-content: center;
}
.hero-section .hero-content .hero-images-container .images-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  position: relative;
  max-width: 45rem;
}
.hero-section .hero-content .hero-images-container .images-bg #keyboard {
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .hero-content .hero-images-container .images-bg #leftHand {
  position: absolute;
  top: 17%;
  left: 0%;
  width: 20rem;
  height: 21.85rem;
}
.hero-section .hero-content .hero-images-container .images-bg #rightHand {
  position: absolute;
  top: 17%;
  left: 57%;
  width: 20rem;
  height: 21.85rem;
}
.hero-section .hero-content .hero-images-container .images-bg #findOut {
  border: 0.1rem solid #1a1c1e;
  border-radius: 0.6rem;
  text-decoration: none;
  padding: 0.8rem;
}/*# sourceMappingURL=style.css.map */